.home_section {
    height: 100vh;
    width: 100vw;
  }
  
  .navigation {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: #3f3f3f;
  }
  
  .logo {
    height: 60px;
  }
  
  .navigation_menu {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu_link {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  
  .menu_link:hover {
    color: #fff237;
  }
  
  .home_content {
    height: 580px;
    padding: 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home_btn {
    width: 220px;
    height: 50px;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color: #ff3737;
    border-radius: 10px;
  }
  
  .home_content_details {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .home_content_img {
    height: 50%;
    width: 60%;
    padding-left: 100px;
  }
  
  .home_title {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 400;
  }
  
  .home_text {
    color: #6e6e6e;
  }
  