.home_section {
  height: 100vh;
  width: 100vw;
}

.navigation {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background-color: #3f3f3f;
}

.logo {
  height: 60px;
}

.navigation_menu {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_link {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.menu_link:hover {
  color: #fff237;
}

.home_content {
  height: 580px;
  padding: 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_btn {
  width: 220px;
  height: 50px;
  border: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  background-color: #ff3737;
  border-radius: 10px;
}

.home_content_details {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home_content_img {
  height: 50%;
  width: 60%;
  padding-left: 100px;
}

.home_title {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 400;
}

.home_text {
  color: #6e6e6e;
}

.dishes_section {
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 80px 0;
}

.dishes_products {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dishes_image {
  width: 320px;
  height: auto;
  cursor: pointer;
}

.dishes_products_details {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.dishes_title {
  height: 200px;
  font-size: 48px;
  color: #222222;
  font-weight: 400;
}

.product_title {
  font-size: 21px;
  font-weight: 300;
}

.product_title:hover {
  color: red;
  cursor: pointer;
}

.product_text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #777777;
}

.product_price {
  font-weight: 700;
  font-size: 19px;
}

.menu_section {
  background-color: #f0f2fe;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.menu_title {
  font-size: 48px;
  color: #222222;
  font-weight: 400;
  text-transform: capitalize;
  margin: 120px 0;
}

.menu_list {
  display: flex;
  flex-direction: column;
}

.all_meniu {
  height: 100%;
  width: 100%;
  display: flex;
}

.menu_list_product {
  display: flex;
  justify-content: space-between;
}

.menu_1,
.menu_2 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.menu_1 {
  justify-content: end;
  padding-right: 80px;
}

.menu_2 {
  justify-content: start;
}


.menu_description {
  width: 70%;
}

.menu_product {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 10px;
}

.menu_ingredients {
  margin-bottom: 35px;
}

.menu_ingredients {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #777777;
  font-size: 13px;
}

.galleries_title {
  font-size: 48px;
  color: #222222;
  font-weight: 400;
  margin: 60px 0;
}

.galleries_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 1000px;
  margin: 100px 0;
}

.all_gallery {
  align-items: center;
  width: 1150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "grid_img1 grid_img1 grid_img1 grid_img1 grid_img1 grid_img1 grid_img1 grid_img2 grid_img2 grid_img2 grid_img2 grid_img2"
    "grid_img3 grid_img3 grid_img3 grid_img3 grid_img4 grid_img4 grid_img4 grid_img4 grid_img5 grid_img5 grid_img5 grid_img5"
    "grid_img6 grid_img6 grid_img6 grid_img6 grid_img6 grid_img7 grid_img7 grid_img7 grid_img7 grid_img7 grid_img7 grid_img7";
}

.grid_img1 {
  height: 250px;
  grid-area: grid_img1;
}

.grid_img2 {
  height: 250px;
  grid-area: grid_img2;
}

.grid_img3 {
  height: 250px;
  grid-area: grid_img3;
}

.grid_img4 {
  height: 250px;
  grid-area: grid_img4;
}

.grid_img5 {
  height: 253px;
  grid-area: grid_img5;
}

.grid_img6 {
  height: 250px;
  grid-area: grid_img6;
}

.grid_img7 {
  height: 255px;
  grid-area: grid_img7;
}

.grid_img {
  width: 100%;
  display: block;
}

.grid_img:hover {
  opacity: 25%;
}

.grid_img1:hover,
.grid_img2:hover,
.grid_img3:hover,
.grid_img4:hover,
.grid_img5:hover,
.grid_img6:hover,
.grid_img7:hover {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.after_hover {
  position: absolute;
  top: 44%;
  left: 48%;
  height: 30px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.after_hover:hover {
  position: absolute;
  opacity: 1;
}